@use '../../utils/' as * ;

/*============= HEADER CSS AREA ===============*/
// Homepage 01 //
.hero1-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 252px 0 212px;
    @media #{$xs} {
        padding: 160px 0 0;
    }
    @media #{$md} {
        padding: 160px 0 0;
    }
    .hero-img1 {
        .img1 {
            position: absolute;
            right: 25%;
            bottom: -100px;
            z-index: -1;
            @media #{$xs} {
                position: relative;
                bottom: -200px;
                right: 0;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                bottom: -150px;
                right: 0;
                text-align: center;
            }
        }
        .img2 {
            img {
                position: absolute;
                top: -75px;
                right: 120px;
                animation: fti-roated-1 30s linear infinite;
                height: auto;
                width: auto;
                z-index: -1;
                @media #{$xxxl} {
                    right: 40px;
                }
                @media #{$xxl} {
                    right: 5px;
                }
                @media #{$xl} {
                    right: -40px;
                }
                @media #{$md} {
                    top: 353px;
                    right: -3px;
                }
                @media #{$xs} {
                    top: 545px;
                    right: -3px;
                }
            }
        }
    }
    .hero-heading-area {
        h5 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 16px;
            text-transform: uppercase; 
            img {
                height: 20px;
                width: 20px;
                object-fit: cover;
                filter: brightness(0);
                margin: -4px 8px 0 0;
            }     
        }
        h2 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s60);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 70px;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }
        }
        p {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px;
        }
    }

    .header-brand-slider {
        position: absolute;
        width: 100%;
        bottom: 30px;
        .slider-brand-area {
            .slick-list {
                overflow: inherit !important;
            }
        }
    }

    .video-background {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
}

// Homepage 02 //
.hero2-dots-slider {
    position: relative;
    z-index: 1;
    .elements5 {
        height: 62px;
        width: 4px;
        position: absolute;
        z-index: 2;
        left: 67px;
        top: 35%;
        @media #{$xl} {
            left: 35px;
        }
        @media #{$xxl} {
            left: 35px;
        }
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }
    }
    .elements6 {
        height: 62px;
        width: 4px;
        position: absolute;
        z-index: 2;
        bottom: 32%;
        left: 67px;
        @media #{$xl} {
            left: 35px;
        }
        @media #{$xxl} {
            left: 35px;
        }
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }
    }
    .hero2-section-slider {
        position: relative;
        z-index: 1;
        .slick-slide.slick-current.slick-active {
            h5 {
                transition: transform 1400ms ease, opacity 1400ms ease;
                transform: translateX(0px);
                opacity: 1;
            }
            h1 {
                transition: transform 1600ms ease, opacity 1600ms ease;
                transform: translateX(-0px);
                opacity: 1; 
            }
            p {
                transition: transform 1700ms ease, opacity 1700ms ease;
                transform: translateX(0px);
                opacity: 0.9 !important;  
            }
            .play-btns-area {
                transition: transform 1800ms ease, opacity 1800ms ease;
                transform: translateX(0px);
                opacity: 1; 
            }
    
        }
        .hero2-section {
            position: relative;
            z-index: 1;
            padding: 280px 0 160px;
            @media #{$xs} {
                padding: 160px 0 120px;
            }
            @media #{$md} {
                padding: 160px 0 120px;
            }
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                background: linear-gradient(90deg, #001233 2.66%, rgba(0, 18, 51, 0.00) 100%);
                z-index: -1;
            }
            .hero-header {
                position: relative;
                z-index: 1;
                h5 {
                    border-radius: 4px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: rgba(255, 255, 255, 0.20);
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 12px;
                    transform: translateX(-600px);
                    opacity: 0;
                    position: relative;
                    overflow: hidden; 
                    img {
                        filter: brightness(0) invert(1);
                        margin: -5px 4px 0 0;
                        display: inline-block;
                    }
                }
                h1 {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s60);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 70px; 
                    display: inline-block;
                    transition: all .4s;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-800px);
                    position: relative;
                    opacity: 0; 
                    @media #{$xs} {
                        font-size: var(--ztc-font-size-font-s32);
                        line-height: 40px;
                    }   
                    @media #{$xl} {
                        font-size: var(--ztc-font-size-font-s50);
                        line-height: 60px;
                    }  
                }
                p {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 28px;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-900px);
                    position: relative;
                    opacity: 0 !important; 
                }
                .play-btns-area {
                    display: flex;
                    align-items: center;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-1000px);
                    position: relative;
                    opacity: 0;
                    @media #{$xs} {
                        display: inline-block;
                    }
                    .play-btn {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 18px;
                        padding-left: 24px;
                        display: inline-block;
                        @media #{$xs} {
                            padding-left: 0;
                            margin-top: 20px;
                        }
                        .video{
                            height: 56px;
                            width: 56px;
                            text-align: center;
                            line-height: 56px;
                            border-radius: 50%;
                            display: inline-block;
                            transition: all .4s;
                            color: var(--ztc-text-text-2);
                            background: var(--ztc-bg-bg-1);
                            font-size: var(--ztc-font-size-font-s20);
                            margin: 0 10px 0 0;
                            position: relative;
                            z-index: 1;
                            &::after {
                                position: absolute;
                                content: "";
                                height: 100%;
                                width: 100%;
                                left: 28px;
                                top: 28px;
                                background: var(--ztc-bg-bg-1);
                                transition: all .4s;
                                border-radius: 50%;
                                z-index: -1;
                                animation: pulse-border 1500ms ease-out infinite;
                                opacity: 40%;
                            }
                        }
                    }
                }
            }
        }

        .slick-dots {
            position: absolute;
            top: 50%;
            margin-top: -36px;
            z-index: 1;
            left: 60px;
            @media #{$xl} {
                left: 30px;
            }
            @media #{$xxl} {
                left: 30px;
            }
            @media #{$md} {
                display: flex;
                align-items: center;
                position: relative;
                text-align: center;
                margin-top: 0;
                bottom: 60px;
                justify-content: center;
                left: 0;
            }
            @media #{$xs} {
                display: flex;
                align-items: center;
                position: relative;
                text-align: center;
                margin-top: 0;
                bottom: 60px;
                justify-content: center;
                left: 0;
            }
            li {
                margin: 0 0 16px 0;
                @media #{$md} {
                 margin: 0 8px;   
                }
                @media #{$xs} {
                    margin: 0 8px;   
                   }
            }
            button {
                display: inline-block;
                width: 14px;
                height: 14px;
                padding: 0;
                border: none;
                border-radius: 100%;
                background: var(--ztc-bg-bg-5);
                text-indent: -9999px;
                border-radius: 50%;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    border: 1px solid var(--ztc-text-text-5);
                    left: -5px;
                    top: -5px;
                    z-index: -1;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .4s;
                }

            }
            
            li.slick-active button {
                background: var(--ztc-text-text-5);
                &::after {
                    visibility: visible;
                    opacity: 1;
                    transition: all .4s;
                }
            }
        }
    }
}

// Homepage 03 //
.hero3-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 40px 0 70px;
    @media #{$xs} {
        padding: 120px 0 70px;
    }
    @media #{$md} {
        padding: 120px 0 70px;
    }
    .hero3-header {
        position: relative;
        z-index: 1;
        top: 50px;
        .elements8 {
            position: absolute;
            left: -100px;
            top: 100px;
            z-index: -1;
        }
        h5 {
            border-radius: 36px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.20);
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 16px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 12px;
            img {
                filter: brightness(0) invert(1);
                margin: -5px 4px 0 0;
                display: inline-block;
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s60);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 70px; 
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }   
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }  
        }
        .btn-area1 {
            .vl-btn3.btn2 {
                background: none;
                border: 1px solid var(--ztc-bg-bg-1);
                color: var(--ztc-text-text-1);
                margin-left: 16px;
                &:hover {
                    border: 1px solid var(--ztc-text-text-2);
                }
                @media #{$xs} {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    .images-area {
        position: relative;
        z-index: 1;
        .img1 {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

        }
        .elements7 {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

// Homepage 04 //
.hero4-section {
    position: relative;
    z-index: 1;
    padding: 280px 0 220px;
    background: var(--ztc-bg-bg-10);
    @media #{$xs} {
        padding: 160px 0 120px;
    }
    @media #{$md} {
        padding: 160px 0 120px;
    }
    .elements10 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .elements12 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #001233 2.66%, rgba(0, 18, 51, 0.00) 100%);
        z-index: -1;
    }
    .hero-header {
        position: relative;
        z-index: 1;
        padding: 0 50px 0 0;
        .elements8 {
            position: absolute;
            left: -100px;
            top: 100px;
            z-index: -1;
            opacity: 10%;
        }
        h5 {
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.20);
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 16px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 12px;
            img {
                filter: brightness(0) invert(1);
                margin: -5px 4px 0 0;
                display: inline-block;
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s60);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 70px; 
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }   
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }  
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px;
        }
        .play-btns-area {
            display: flex;
            align-items: center;
            @media #{$xs} {
                display: inline-block;
            }
            .play-btn {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 18px;
                padding-left: 24px;
                display: inline-block;
                @media #{$xs} {
                    padding-left: 0;
                    margin-top: 20px;
                }
                .video{
                    height: 56px;
                    width: 56px;
                    text-align: center;
                    line-height: 56px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all .4s;
                    color: var(--ztc-text-text-2);
                    background: var(--ztc-bg-bg-1);
                    font-size: var(--ztc-font-size-font-s20);
                    margin: 0 10px 0 0;
                    position: relative;
                    z-index: 1;
                    &::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        left: 28px;
                        top: 28px;
                        background: var(--ztc-bg-bg-1);
                        transition: all .4s;
                        border-radius: 50%;
                        z-index: -1;
                        animation: pulse-border 1500ms ease-out infinite;
                        opacity: 40%;
                    }
                }
            }
        }
    }
    .hero4-images {
        position: relative;
        z-index: 1;
        .img1 {
            max-width: 800px;
            max-height: 800px;
            width: 800px;
            object-fit: contain;
            @media #{$xs} {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            @media #{$md} {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            @media #{$xxl} {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            @media #{$xl} {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            img {
               height: 100%;
               width: 100%;
               object-fit: cover;
               border-radius: 8px;
            }
        }
        .elements11 {
            position: absolute;
            top: 0;
            right: 0;
        }
        .elements13 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .elements14 {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    .auhtor-content {
        display: flex;
        align-items: center;
        position: absolute;
        left: 60%;
        bottom: 26px;
        @media #{$xs} {
            display: none;
        }
        img {
            width: 130px;
            height: 40px;
        }
        .text {
            padding-left: 12px;
            
            p {
                color: rgba(255, 255, 255, 0.80);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 16px; 
                     
            }
            ul {
                li {
                    color: #E7A216;
                    display: inline-block;
                }
            }
        }
    }
}

// Homepage 05 //
.hero5-section {
    position: relative;
    z-index: 1;
    padding: 180px 0 0;
    overflow: hidden;
    @media #{$xs} {
        padding: 160px 0 0;
    }
    @media #{$md} {
        padding: 160px 0 0;
    }
    .elements8 {
        position: absolute;
        top: 140px;
        right: 100px;
        opacity: 10%;
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #001233 2.66%, rgba(0, 18, 51, 0.00) 100%);
        z-index: -1;
    }
    .hero-header {
        position: relative;
        z-index: 1;
        top: -30px;
        @media #{$xs} {
            top: 0;
        }
        @media #{$md} {
            top: 0;
        }
        h5 {
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.20);
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 16px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 12px;
            img {
                filter: brightness(0) invert(1);
                margin: -5px 4px 0 0;
                display: inline-block;
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s72);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 82px; 
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }   
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }  
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px;
        }
        .play-btns-area {
            .btn-area1 {
                .vl-btn6.btn2 {
                    background: var(--ztc-bg-bg-1);
                    color: var(--ztc-text-text-2);
                    margin-left: 24px;
                    @media #{$xs} {
                        margin-left: 0;
                        margin-top: 20px;
                    }
                    &:hover {
                        color: var(--ztc-text-text-1);
                    }
                }
            }
        }
    }
    .images {
        .img1 {
            position: relative;
            left: 50px;
            @media #{$xs} {
                left: 0;
                margin-top: 30px;
            }
            @media #{$md} {
                left: 0;
                margin-top: 30px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// Homepage 06 //
.hero6-section {
    position: relative;
    z-index: 1;
    padding: 280px 0 130px;
    @media #{$xs} {
        padding: 160px 0 120px;
    }
    @media #{$md} {
        padding: 160px 0 120px;
    }
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(253deg, rgba(0, 0, 0, 0.00) 16.64%, #000 92.28%);
        z-index: -1;
    }
    .hero-header {
        position: relative;
        z-index: 1;
        h5 {
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.20);
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 16px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 12px;
            img {
                filter: brightness(0) invert(1);
                margin: -5px 4px 0 0;
                display: inline-block;
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s72);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 82px; 
            display: inline-block;
            transition: all .4s;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }   
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }  
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px;
        }
        .play-btns-area {
            display: flex;
            align-items: center;
            @media #{$xs} {
                display: inline-block;
            }
            .play-btn {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 18px;
                padding-left: 24px;
                display: inline-block;
                @media #{$xs} {
                    padding-left: 0;
                    margin-top: 20px;
                }
                .video{
                    height: 56px;
                    width: 56px;
                    text-align: center;
                    line-height: 56px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all .4s;
                    color: var(--ztc-text-text-10);
                    background: var(--ztc-bg-bg-1);
                    font-size: var(--ztc-font-size-font-s20);
                    margin: 0 10px 0 0;
                    position: relative;
                    z-index: 1;
                    &::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        left: 28px;
                        top: 28px;
                        background: var(--ztc-bg-bg-1);
                        transition: all .4s;
                        border-radius: 50%;
                        z-index: -1;
                        animation: pulse-border 1500ms ease-out infinite;
                        opacity: 40%;
                    }
                }
            }
        }
    }
}

// Homepage 09 //
.hero-arrowslider {
    position: relative;
    z-index: 1;
    .hero9-slider-area {
        position: relative;
        z-index: 1;
        .slick-slide.slick-current.slick-active {
            h5 {
                transition: transform 1400ms ease, opacity 1400ms ease;
                transform: translateX(0px);
                opacity: 1;
            }
            h1 {
                transition: transform 1600ms ease, opacity 1600ms ease;
                transform: translateX(-0px);
                opacity: 1; 
            }
            p {
                transition: transform 1700ms ease, opacity 1700ms ease;
                transform: translateX(0px);
                opacity: 0.9 !important;  
            }
            .play-btns-area {
                transition: transform 1800ms ease, opacity 1800ms ease;
                transform: translateX(0px);
                opacity: 1; 
            }
    
        }
        .hero9-section {
            position: relative;
            z-index: 1;
            padding: 280px 0 130px;
            @media #{$xs} {
                padding: 160px 0 120px;
            }
            @media #{$md} {
                padding: 160px 0 120px;
            }
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                background: linear-gradient(253deg, rgba(0, 0, 0, 0.00) 16.64%, #000 92.28%);
                z-index: -1;
            }
            .hero-header {
                position: relative;
                z-index: 1;
                h5 {
                    border-radius: 4px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: rgba(255, 255, 255, 0.20);
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 12px;
                    transform: translateX(-600px);
                    opacity: 0;
                    position: relative;
                    overflow: hidden; 
                    img {
                        filter: brightness(0) invert(1);
                        margin: -5px 4px 0 0;
                        display: inline-block;
                    }
                }
                h1 {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s72);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 82px; 
                    display: inline-block;
                    transition: all .4s;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-800px);
                    position: relative;
                    opacity: 0; 
                    @media #{$xs} {
                        font-size: var(--ztc-font-size-font-s32);
                        line-height: 40px;
                    }   
                    @media #{$xl} {
                        font-size: var(--ztc-font-size-font-s50);
                        line-height: 60px;
                    }  
                }
                p {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 28px;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-900px);
                    position: relative;
                    opacity: 0 !important;
                }
                .play-btns-area {
                    display: flex;
                    align-items: center;
                    transition: transform 1400ms ease, opacity 1400ms ease;
                    transform: translateX(-1000px);
                    position: relative;
                    opacity: 0;
                    @media #{$xs} {
                        display: inline-block;
                    }
                    .play-btn {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 18px;
                        padding-left: 24px;
                        display: inline-block;
                        @media #{$xs} {
                            padding-left: 0;
                            margin-top: 20px;
                        }
                        .video{
                            height: 56px;
                            width: 56px;
                            text-align: center;
                            line-height: 56px;
                            border-radius: 50%;
                            display: inline-block;
                            transition: all .4s;
                            color: var(--ztc-text-text-10);
                            background: var(--ztc-bg-bg-1);
                            font-size: var(--ztc-font-size-font-s20);
                            margin: 0 10px 0 0;
                            position: relative;
                            z-index: 1;
                            &::after {
                                position: absolute;
                                content: "";
                                height: 100%;
                                width: 100%;
                                left: 28px;
                                top: 28px;
                                background: var(--ztc-bg-bg-1);
                                transition: all .4s;
                                border-radius: 50%;
                                z-index: -1;
                                animation: pulse-border 1500ms ease-out infinite;
                                opacity: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
    .testimonial-arrows {
        z-index: 2;
        position: absolute;
        bottom: 60px;
        right: 60px;
        .testimonial-prev-arrow-h9 {
            margin: 0 0 12px 0;
        }
        button {
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 57px;
            border-radius: 50%;
            display: inline-block;
            transition: all .4s;
            color: var(--ztc-text-text-2);
            background: var(--ztc-bg-bg-1);
            outline: none;
            font-size: var(--ztc-font-size-font-s20);
            border: none;
            outline: none;
            &:hover {
                background: var(--ztc-bg-bg-12);
                transition: all .4s;
                color: var(--ztc-text-text-1);
            }
        }
    }
}
// Inner Pages //
.inner-header-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 210px 0 100px;
    @media #{$xs} {
        padding: 160px 0 0;
    }
    @media #{$md} {
        padding: 160px 0 0;
    }
    .hero-img1 {
        .img1 {
            position: absolute;
            right: 25%;
            z-index: -1;
            height: 300px;
            bottom: -60px;
            @media #{$xs} {
                position: relative;
                bottom: -100px;
                right: 0;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                bottom: -50px;
                right: 0;
                text-align: center;
            }
        }
        .img2 {
            img {
                position: absolute;
                top: -10px;
                right: 285px;
                animation: fti-roated-1 30s linear infinite;
                height: auto;
                width: auto;
                z-index: -1;
                @media #{$xxxl} {
                    right: 210px;
                }
                @media #{$xxl} {
                    right: 170px;
                }
                @media #{$xl} {
                    right: 135px;
                    top: -14px;
                }
                @media #{$md} {
                    top: 61px;
                    right: 94px;
                }
                @media #{$xs} {
                    top: 173px;
                    right: -2px;
                }
            }
        }
    }
    .hero-heading-area {
        
        h2 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s60);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 70px;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }
        }
       .btn-area1 {
        a {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 20px; 
            display: inline-block;
            transition: all .4s;
            i {
                margin: 0 6px;
            }
            span {
                font-weight: var(--ztc-weight-semibold);
                display: inline-block;
            }   
        }
       }
    }

    .header-brand-slider {
        position: absolute;
        width: 100%;
        bottom: 30px;
        .slider-brand-area {
            .slick-list {
                overflow: inherit !important;
            }
        }
    }
}

.hero10-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 252px 0 212px;
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: var(--ztc-bg-bg-2);
        opacity: 60%;
        transition: all .4s;
        z-index: -1;
    }
    @media #{$xs} {
        padding: 160px 0 0;
    }
    @media #{$md} {
        padding: 160px 0 0;
    }
    .hero-img1 {
        .img1 {
            position: absolute;
            right: 25%;
            bottom: -100px;
            z-index: -1;
            @media #{$xs} {
                position: relative;
                bottom: -200px;
                right: 0;
                text-align: center;
            }
            @media #{$md} {
                position: relative;
                bottom: -150px;
                right: 0;
                text-align: center;
            }
        }
        .img2 {
            img {
                position: absolute;
                top: -75px;
                right: 120px;
                animation: fti-roated-1 30s linear infinite;
                height: auto;
                width: auto;
                z-index: -1;
                @media #{$xxxl} {
                    right: 40px;
                }
                @media #{$xxl} {
                    right: 5px;
                }
                @media #{$xl} {
                    right: -40px;
                }
                @media #{$md} {
                    top: 353px;
                    right: -3px;
                }
                @media #{$xs} {
                    top: 545px;
                    right: -3px;
                }
            }
        }
    }
    .hero-heading-area {
        h5 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 16px;
            text-transform: uppercase; 
            img {
                height: 20px;
                width: 20px;
                object-fit: cover;
                filter: brightness(0) invert(1);
                margin: -4px 8px 0 0;
            }     
        }
        h2 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s60);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 70px;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s32);
                line-height: 40px;
            }
            @media #{$xl} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 60px;
            }
        }
        p {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 28px;
        }
    }

    .header-brand-slider {
        position: absolute;
        width: 100%;
        bottom: 30px;
        .slider-brand-area {
            .slick-list {
                overflow: inherit !important;
            }
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .video-background {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
}

/*============= HEADER CSS AREA ENDS ===============*/