@use '../../utils/' as * ;

/*============= CONTACT CSS AREA ===============*/
.contact1 {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .widget-contactbox {
        border-radius: 8px;
        border: 1px solid var(--ztc-border-border-1);
        background: var(--ztc-bg-bg-4);
        border-radius: 8px;
        padding: 24px;
        position: relative;
        display: flex;
        z-index: 1;
        &:hover {
            &::after {
                width: 100%;
                left: 0;
                transition: all .4s;
                visibility: visible;
                opacity: 1;
            }
            .content {
                h4 {
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                }
                a {
                    color: var(--ztc-text-text-1);
                    opacity: 80%;
                    transition: all .4s;
                }
            }
            .icons {
                img {
                    filter: brightness(0) invert(1);
                    transition: all .4s;
                }
            }
        }
        &::after {
            background: var(--ztc-bg-bg-3);
            position: absolute;
            content: "";
            height: 100%;
            left: 50%;
            width: 10px;
            border-radius: 10px;
            top: 0;
            transition: all .4s;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
        }
        .icons {
            height: 40px;
            width: 40px;
        }
        .content {
            padding-left: 16px;
            h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 18px; 
                transition: all .4s;         
            }
            a {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 24px;
                display: inline-block;
                transition: all .4s;
                margin-top: 10px;        
            }
        }
    }
    .img1 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }
    .contact1-boxarea {
        position: relative;
        z-index: 1;
        .input-area {
            margin-top: 24px;
            input {
                color: var(--ztc-text-text-2);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 18px; 
                border-radius: 8px;
                border: 1px solid rgba(0, 127, 95, 0.10);
                background: var(--ztc-bg-bg-4);
                padding: 18px 16px;
                width: 100%;
                &::placeholder {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                } 
            }
            .nice-select {
                color: var(--ztc-text-text-3);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 18px; 
                border-radius: 8px;
                border: 1px solid rgba(0, 127, 95, 0.10);
                background: var(--ztc-bg-bg-4);
                padding: 18px 16px;
                width: 100%;
                height: auto;
                box-shadow: none;
                &::after {
                    height: 7px;
                    width: 7px;
                    right: 16px;
                }
                ul {
                    width: 100%;
                }
            }

            textarea {
                color: var(--ztc-text-text-2);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 18px; 
                border-radius: 8px;
                border: 1px solid rgba(0, 127, 95, 0.10);
                background: var(--ztc-bg-bg-4);
                padding: 18px 16px;
                width: 100%;
                height: 154px;
                &::placeholder {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                } 
            }
            button {
                border: none;
                outline: none;
            }
        }
    }
}
.contact-maps-area {
    iframe {
        width: 100%;
        height: 470px;
        @media #{$xs} {
         height: 220px;   
        }
    }
}
/*============= CONTACT CSS AREA ENDS===============*/